body{
    padding: 2.5%;
    margin: 1%;
    height: auto;
    background: #A2DBFA;
    font-size: 2rem;
}

h1{
    text-align: center;
    font-family: Arial;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 2%;
    font-size: 190px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(./back.png);
    background-position: 0 0;
}
@keyframes back{
 {
   background-position: 2000px 0;
 }
}
#t{
    border-bottom: 5px dashed #001E6C;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.carousel-inner{
    margin-top: 5rem;
    border-radius: 30px;
    box-shadow: 0 2px 14px 10px rgba(0, 0, 0, 0.5);
}

p{
    color: white;
    text-shadow: 3px 3px 2px black;
    font-size: 25px;
}
