*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0.3),transparent), url(./background.png);
    background-size: cover;
    background-position: center;
    padding: 0.5%;
    position: absolute;
}

.text-box{
    position: absolute;
    top: 10%;
    left: 10%;
    line-height: 1.5;
    font-weight: 900;
    text-shadow: 2px 5px 10px #fff;
}

#h1{
    font-size: 3rem;
    color: transparent;
    background: url(./back.png);
    -webkit-text-stroke: 1px #fff;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    font-family: Times New Roman;
}

#h3{
    font-size: 1.5rem;
    color: transparent;
    background: url(./back.png);
    -webkit-text-stroke: 1px #fff;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    font-family: Times New Roman;
}

#h4{
    font-size: 1.5rem;
    color: transparent;
    background: url(./back.png);
    -webkit-text-stroke: 1px #fff;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    font-family: Times New Roman
}

h5{
    text-shadow: 2px 2px 2px black;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

#carouselExampleControls{
    position: absolute;
    bottom: 20%;
    left: 40%;
}
